Repository processing/p5.js, pull requests merged in 2018-08, with the labels that each got.

#3083 p5.Camera unit tests
  test/unit/spec.js
  test/unit/webgl/p5.Camera.js
Labels: GSOC, area:webgl

#3089 Add createColorPicker
  lib/addons/p5.dom.js
  test/manual-test-examples/addons/p5.dom/color_picker/index.html
  test/manual-test-examples/addons/p5.dom/color_picker/sketch.js
Labels: GSOC

#3129 add p5.Camera.prototype._orbit() unit tests
  test/unit/webgl/p5.Camera.js
Labels: GSOC, area:webgl

#3103 WIP: add WebGL debugMode()
  src/core/constants.js
  src/webgl/interaction.js
  test/manual-test-examples/webgl/interaction/debugMode/index.html
  test/manual-test-examples/webgl/interaction/debugMode/sketch.js
  test/manual-test-examples/webgl/interaction/orbitControl/index.html
  test/manual-test-examples/webgl/interaction/orbitControl/sketch.js
Labels: GSOC, area:webgl

#3142 Add WPR - Tanvi
  developer_docs/project_wrapups/tanvi_gsoc_2018.md
Labels: GSOC

#3127 Add size limit for loadX methods
  src/core/error_helpers.js
  src/io/files.js
Labels: GSOC

#3110 Webgl text
  developer_docs/webgl_mode_architecture.md
  src/app.js
  src/core/p5.Renderer.js
  src/core/p5.Renderer2D.js
  src/typography/loading_displaying.js
  src/typography/p5.Font.js
  src/webgl/p5.RendererGL.Retained.js
  src/webgl/p5.RendererGL.js
  src/webgl/p5.Shader.js
  src/webgl/p5.Texture.js
  src/webgl/shaders/font.frag
  src/webgl/shaders/font.vert
  src/webgl/text.js
  test/manual-test-examples/webgl/text/chinese/index.html
  test/manual-test-examples/webgl/text/chinese/sketch.js
  test/manual-test-examples/webgl/text/multiple/index.html
  test/manual-test-examples/webgl/text/multiple/sketch.js
  test/manual-test-examples/webgl/text/simple/index.html
  test/manual-test-examples/webgl/text/simple/sketch.js
Labels: area:webgl
