Repository processing/p5.js, pull requests merged in 2018-05, with the labels that each got.

#2868 core documentation
  src/README.md
  src/core/README.md
Labels: area:documentation

#2829 Improve the camera example code
  src/webgl/camera.js
Labels: area:webgl

#2887 fix vertex 3d overload
  src/core/vertex.js
Labels: area:webgl

#2657 Fix 3d stroke
  src/webgl/p5.RendererGL.js
  src/webgl/shaders/line.vert
Labels: area:webgl

#2864 fix scaling of `plane` geometry
  src/webgl/primitives.js
Labels: area:webgl

#2849 add support for validating parameters of methods of non-p5 classes
  lib/addons/p5.dom.js
  src/core/error_helpers.js
Labels: friendly-errors
