Repository processing/p5.js, pull requests merged in 2019-06, with the labels that each got.

#3772 core module: add unit tests
  test/unit/core/attributes.js
  test/unit/core/environment.js
  test/unit/core/p5.Element.js
  test/unit/core/structure.js
  test/unit/core/transform.js
  test/unit/core/vertex.js
  test/unit/spec.js
Labels: testing

#3814 events/touch.js: create unit tests
  test/unit/events/touch.js
  test/unit/spec.js
Labels: area:events, area:io, testing

#3810 events/mouse.js: create unit tests
  test/unit/events/mouse.js
  test/unit/spec.js
Labels: area:events, testing

#3709 Add Tint support in WebGL
  src/webgl/p5.RendererGL.js
  src/webgl/shaders/light_texture.frag
  test/unit/webgl/p5.RendererGL.js
Labels: area:webgl

#3827 add console message when normalMaterial is used with Immediate Mode
  src/webgl/p5.RendererGL.js
Labels: area:webgl

#3828 image/pixels.js: add unit tests
  test/unit/image/pixels.js
Labels: area:core, area:webgl, testing

#3829 p5.Image: add unit tests
  test/unit/image/p5.Image.js
  test/unit/spec.js
Labels: area:image, testing

#3825 fix quad drawing (textureMode test)
  src/webgl/p5.RendererGL.Immediate.js
Labels: area:webgl

#3796 Add functions to help work with localStorage
  src/app.js
  src/data/local_storage.js
  test/unit/data/local_storage.js
  test/unit/spec.js
Labels: area:io

#3835 Make WebGL canvases clear alpha by default + add unit tests for this
  src/webgl/p5.RendererGL.js
  test/unit/webgl/p5.RendererGL.js
Labels: area:webgl
