Repository processing/p5.js, pull requests merged in 2019-11, with the labels that each got.

#4138 Updated developer_docs in preparation for Developer Docs website
  developer_docs/README.md
  developer_docs/contributing_documentation.md
  developer_docs/discussions.md
  developer_docs/es/README.md
  developer_docs/navbar.md
  developer_docs/sidebar.md
Labels: area:documentation

#4136 Remove most redundant WebGL calls
  src/webgl/material.js
  src/webgl/p5.RendererGL.Retained.js
  src/webgl/p5.RendererGL.js
  src/webgl/p5.Shader.js
  test/manual-test-examples/webgl/interaction/orbitControl/sketch.js
  test/manual-test-examples/webgl/lights/noLights/index.html
  test/manual-test-examples/webgl/lights/noLights/sketch.js
  test/manual-test-examples/webgl/lights/spotLight/index.html
  test/manual-test-examples/webgl/lights/spotLight/sketch.js
Labels: area:webgl

#4131 Use GitHub Actions for CI
  .codecov.yml
  .github/workflows/ci-lint-examples.yml
  .github/workflows/ci-lint.yml
  .github/workflows/ci-test.yml
  .travis.yml
  Gruntfile.js
  README.md
  developer_docs/unit_testing.md
  package.json
Labels: area:devops

#4147 Unify immediate and retained modes
  src/app.js
  src/core/constants.js
  src/core/shape/vertex.js
  src/webgl/3d_primitives.js
  src/webgl/material.js
  src/webgl/p5.Geometry.js
  src/webgl/p5.RenderBuffer.js
  src/webgl/p5.RendererGL.Immediate.js
  src/webgl/p5.RendererGL.Retained.js
  src/webgl/p5.RendererGL.js
  src/webgl/p5.Shader.js
  src/webgl/text.js
  test/manual-test-examples/webgl/geometryImmediate/sketch.js
  test/unit/webgl/p5.RendererGL.js
Labels: area:webgl

#4159 Fix iOS Lighting in WebGL
  src/webgl/shaders/light_texture.frag
  src/webgl/shaders/lighting.glsl
  src/webgl/shaders/phong.frag
  src/webgl/shaders/phong.vert
Labels: area:webgl, ios

#4043 Added a second Optional Argument To Round Function #4038
  src/math/calculation.js
Labels: area:math
