Repository processing/p5.js, pull requests merged in 2019-10, with the labels that each got.

#4063 documentation: circle and arc added as functions affected by ellipseMode
  src/core/shape/attributes.js
Labels: area:core, area:documentation

#4058 Added vectors as coordinates to point() method
  src/core/shape/2d_primitives.js
Labels: area:core

#4057 Expand on foundational JS docs
  src/core/reference.js
Labels: area:documentation

#4088 Changes html() to user Javascript insertAdjacentHTML instead of innerHTML
  src/dom/dom.js
  test/manual-test-examples/dom/html/index.html
  test/manual-test-examples/dom/html/sketch.js
Labels: area:dom

#4119 p5.dom links cleanup
  .gitignore
  developer_docs/creating_libraries.md
  docs/yuidoc-p5-theme/helpers/helpers_dev.js
  docs/yuidoc-p5-theme/helpers/helpers_prod.js
  docs/yuidoc-p5-theme/layouts/main.handlebars
  lib/empty-example/index.html
  utils/sample-linter.js
Labels: area:dom

#4117 friendly autoplay warning
  src/core/error_helpers.js
  src/dom/dom.js
Labels: area:dom, friendly-errors
