Repository processing/p5.js, pull requests merged in 2019-12, with the labels that each got.

#4174 decouple param validation from ellipse and rect drawing
  src/core/shape/2d_primitives.js
Labels: friendly-errors

#4179 Antialias by default for Safari
  src/webgl/p5.RendererGL.js
Labels: area:webgl, bug, safari

#4177 Make animation delay a frame-specific value with GIFs
  src/core/p5.Renderer2D.js
  src/image/image.js
  src/image/loading_displaying.js
  src/image/p5.Image.js
  test/unit/image/loading.js
Labels: area:image, enhancement

#4193 Make perPixelLighting true by default
  src/webgl/light.js
  src/webgl/p5.RendererGL.js
Labels: area:webgl
