Repository processing/p5.js, pull requests merged in 2019-09, with the labels that each got.

#3983 remove stray copies of builds in lib/empty-example/
  lib/empty-example/p5.dom.js
  lib/empty-example/p5.js
  lib/empty-example/p5.sound.js
Labels: area:build

#3984 fix sample-linter.js error during pre-commit hook
  package.json
Labels: area:build, area:devops, area:utilities

#3985 use import in eslint-samples task
  tasks/build/eslint-samples.js
Labels: area:utilities

#3890 Add optional crossOrigin parameter to createImg()
  src/dom/dom.js
Labels: accessibility, area:image

#3979 Removes perspective on stroke when in custom cameraType
  developer_docs/webgl_mode_architecture.md
  src/webgl/p5.Camera.js
  src/webgl/p5.Shader.js
  src/webgl/shaders/line.vert
  test/unit/webgl/p5.Camera.js
Labels: area:webgl

#3997 Add emphasis on preload to loadModels docs
  src/webgl/loading.js
Labels: area:documentation, area:webgl

#3993 improvements to reference page
  src/webgl/3d_primitives.js
  src/webgl/p5.Camera.js
Labels: area:documentation, area:webgl

#3936 Fix copy so that it works with a 3D graphics object destination
  src/core/p5.Renderer2D.js
  src/dom/dom.js
  src/image/p5.Image.js
  src/image/pixels.js
  test/unit/image/pixels.js
Labels: area:webgl

#4016 Use reject in mocha testing promise
  tasks/test/mocha-chrome.js
Labels: testing

#4017 use let in examples
  developer_docs/inline_documentation.md
  lib/addons/p5.sound.js
  src/dom/dom.js
  src/events/mouse.js
  src/utilities/array_functions.js
  src/utilities/string_functions.js
  src/webgl/p5.RendererGL.js
Labels: area:documentation

#4027 Raise float precision in phong frag shader
  src/webgl/shaders/phong.frag
Labels: android, area:webgl

#3987 Add erase() and noErase()
  src/color/setting.js
  src/core/constants.js
  src/core/p5.Renderer2D.js
  src/core/rendering.js
  src/webgl/3d_primitives.js
  src/webgl/material.js
  src/webgl/p5.RendererGL.js
  test/unit/color/setting.js
Labels: area:core
