Repository processing/p5.js, pull requests merged in 2019-07, with the labels that each got.

#3844 typography: add unit tests
  test/unit/spec.js
  test/unit/typography/loadFont.js
  test/unit/typography/p5.Font.js
Labels: area:typography, testing

#3839 typography/attributes.js: add unit tests
  test/unit/spec.js
  test/unit/typography/attributes.js
Labels: area:typography, testing

#3852 p5.Graphics and setAttributes
  src/webgl/p5.RendererGL.js
Labels: area:webgl

#3834 Add test coverage reporting
  .gitignore
  Gruntfile.js
  developer_docs/unit_testing.md
  package-lock.json
  package.json
  tasks/build/browserify.js
  tasks/test/mocha-chrome.js
  test/test.html
Labels: testing

#3853 fix mobile safari for touch event duplication
  src/events/mouse.js
  src/events/touch.js
Labels: area:io

#3804 Pointer Lock API
  .all-contributorsrc
  src/core/main.js
  src/events/mouse.js
Labels: area:events

#3740 GIF support
  docs/yuidoc-p5-theme/assets/arnott-wallace-eye-loop-forever.gif
  docs/yuidoc-p5-theme/assets/arnott-wallace-wink-loop-once.gif
  docs/yuidoc-p5-theme/assets/nancy-liang-wind-loop-forever.gif
  package-lock.json
  package.json
  src/core/error_helpers.js
  src/core/main.js
  src/core/p5.Renderer2D.js
  src/image/image.js
  src/image/loading_displaying.js
  src/image/p5.Image.js
  src/webgl/material.js
  test/manual-test-examples/p5.Image/GIF/assets/counting-gif@1xLoop-0.2secDelay.gif
  test/manual-test-examples/p5.Image/GIF/assets/counting-gif@endlessLoop-1secDelay.gif
  test/manual-test-examples/p5.Image/GIF/assets/giphy.gif
  test/manual-test-examples/p5.Image/GIF/assets/tricky.gif
  test/manual-test-examples/p5.Image/GIF/index.html
  test/manual-test-examples/p5.Image/GIF/sketch.js
  test/manual-test-examples/webgl/texture/multipleTextures/index.html
  test/manual-test-examples/webgl/texture/multipleTextures/sketch.js
  test/unit/assets/cat.jpg
  test/unit/image/loading.js
Labels: area:image

#3820 Feature implementation: emissiveMaterial()
  developer_docs/webgl_mode_architecture.md
  src/webgl/material.js
  src/webgl/p5.RendererGL.js
  src/webgl/shaders/light_texture.frag
  src/webgl/shaders/phong.frag
  test/manual-test-examples/webgl/material/emissive/index.html
  test/manual-test-examples/webgl/material/emissive/sketch.js
  test/unit/core/rendering.js
  test/unit/webgl/p5.Shader.js
Labels: area:webgl

#3862 fix failing ci
  lib/addons/p5.dom.js
  src/core/main.js
Labels: area:core, area:dom

#3824 events/acceleration.js: add unit tests
  package-lock.json
  src/events/acceleration.js
  test/unit/events/acceleration.js
  test/unit/spec.js
Labels: area:events, testing

#3867 Clear Depth every frame in WEBGL to match 2D traced artifacts behavior
  src/webgl/p5.RendererGL.js
Labels: area:webgl

#3895 Fix texture error in STL loader
  src/webgl/loading.js
Labels: area:webgl

#3904 report 0 framerate when its been set to zero
  src/core/environment.js
Labels: area:core

#3896 webgl/interaction: add unit tests
  test/unit/spec.js
  test/unit/webgl/interaction.js
Labels: area:webgl, testing

#3909 transpile grunt tasks with babel register
  Gruntfile.js
  package-lock.json
  package.json
  tasks/build/browserify.js
Labels: area:build

#3921 Improved developer_docs/README.md
  developer_docs/README.md
Labels: area:documentation

#3920 Converted to ES6 test/node/helpers.js
  test/node/helpers.js
  test/node/test-docs-preprocessor.js
Labels: testing
