Repository processing/p5.js, pull requests merged in 2019-03, with the labels that each got.

#3497 prevent recursive `draw()` calls, explicitly and from within `loop()`
  src/core/structure.js
  test/unit/core/structure.js
Labels: area:core

#3552 setAttributes before GL canvas is made
  src/core/main.js
  src/core/p5.Renderer2D.js
  src/core/shape/attributes.js
  src/webgl/3d_primitives.js
  src/webgl/p5.RendererGL.js
  test/manual-test-examples/webgl/material/wireframe/sketch.js
  test/unit/core/rendering.js
Labels: area:webgl

#3489 Feature: Implemented shininess()
  developer_docs/webgl_mode_architecture.md
  src/webgl/material.js
  src/webgl/p5.RendererGL.js
  src/webgl/shaders/light.vert
  src/webgl/shaders/phong.frag
  test/manual-test-examples/webgl/material/shininess/index.html
  test/manual-test-examples/webgl/material/shininess/sketch.js
  test/unit/core/rendering.js
  test/unit/webgl/p5.Shader.js
Labels: area:webgl

#3481 fixes automatic image size in size function in p5.dom.js
  lib/addons/p5.dom.js
  src/core/constants.js
Labels: area:dom

#3520 Fix get()
  lib/addons/p5.dom.js
  src/core/p5.Renderer.js
  src/core/p5.Renderer2D.js
  src/image/p5.Image.js
  src/image/pixels.js
  src/webgl/p5.RendererGL.js
  test/manual-test-examples/p5.Image/loadPixels.js
  test/unit/image/pixels.js
Labels: area:core, area:webgl

#3612 remove last use of setAttribute for setting style
  test/js/p5_helpers.js
Labels: testing

#3521 Webgl pixels
  src/webgl/p5.RendererGL.Retained.js
  src/webgl/p5.RendererGL.js
  test/unit/webgl/p5.RendererGL.js
Labels: area:webgl

#3582 Make downKeys variable instance specific, fixes #3193
  src/core/main.js
  src/events/keyboard.js
  test/unit/events/keyboard.js
  test/unit/spec.js
Labels: area:events, area:io

#3581 add test for modeAdjust helper function
  test/node/helpers.js
Labels: testing

#3358 Support for 3d drawing in quad primitives
  src/core/shape/2d_primitives.js
  src/webgl/3d_primitives.js
Labels: area:webgl

#3467 Feature: Implemented resetShader()
  src/webgl/material.js
  test/manual-test-examples/webgl/resetShader/frag.glsl
  test/manual-test-examples/webgl/resetShader/index.html
  test/manual-test-examples/webgl/resetShader/sketch.js
  test/manual-test-examples/webgl/resetShader/vert.glsl
  test/unit/webgl/p5.Shader.js
Labels: area:webgl
