Repository processing/p5.js, pull requests merged in 2019-04, with the labels that each got.

#3609 p5.dom.js: add hasClass and toggleClass functions
  lib/addons/p5.dom.js
  test/unit/core/p5.Element.js
Labels: area:dom

#3676 events/keyboard.js: add unit tests
  test/unit/events/keyboard.js
Labels: area:events, area:io, testing

#3677 Fix get function for p5.MediaElement
  lib/addons/p5.dom.js
Labels: area:dom

#3657 utilities/conversion.js: add unit tests
  src/utilities/conversion.js
  test/unit/utilities/conversion.js
Labels: area:utilities, testing

#3343 3d rendered bezier curve args get overwritten, fixes #3344
  src/webgl/3d_primitives.js
Labels: area:webgl

#3682 grunt test:nobuild fixes
  Gruntfile.js
Labels: testing

#3708 Add Unit Tests for mouse events
  test/unit/events/mouse.js
  test/unit/utilities/conversion.js
Labels: testing

#3711 Fixing typo in the p5.Vector#angleBetween() function
  src/math/p5.Vector.js
Labels: area:documentation

#3679 Create unit testing developer docs starter
  developer_docs/unit_testing.md
Labels: area:documentation, testing
