Repository processing/p5.js, pull requests merged in 2019-08, with the labels that each got.

#3930 Try removing docker service from travis config
  .travis.yml
Labels: testing

#3905 Add promise-based preload mechanism
  src/app.js
  src/core/main.js
  src/core/preload.js
  test/unit/core/preload.js
  test/unit/spec.js
Labels: area:core

#3934 Don't enable image smoothing with 3D renderers in smooth()
  src/core/shape/attributes.js
Labels: area:webgl

#3843 Feature implementation: specularLight
  developer_docs/webgl_mode_architecture.md
  src/webgl/light.js
  src/webgl/p5.RendererGL.js
  src/webgl/p5.Shader.js
  src/webgl/shaders/lighting.glsl
  test/manual-test-examples/webgl/lights/specularColor/index.html
  test/manual-test-examples/webgl/lights/specularColor/sketch.js
  test/unit/assets/vert.glsl
  test/unit/core/rendering.js
  test/unit/webgl/light.js
  test/unit/webgl/p5.RendererGL.js
  test/unit/webgl/p5.Shader.js
Labels: area:webgl

#3938 Corner rounding for rect with negative width and height
  src/core/p5.Renderer2D.js
Labels: area:core

#3937 Optional zoom sensitivity argument for orbitControl
  src/webgl/interaction.js
  test/manual-test-examples/webgl/interaction/orbitControl/sketch.js
Labels: area:webgl

#3933 integrate TravisCI with Codecov
  .travis.yml
Labels: testing

#3947 add README.txt to lib/ folder
  lib/README.txt
Labels: area:build, area:documentation

#3927 Feature implementation: frustum()
  src/webgl/p5.Camera.js
  test/manual-test-examples/webgl/camera/frustum/index.html
  test/manual-test-examples/webgl/camera/frustum/sketch.js
  test/unit/core/rendering.js
  test/unit/webgl/p5.Camera.js
Labels: area:webgl

#3955 Feature implementation: noLights()
  src/webgl/light.js
  test/manual-test-examples/webgl/lights/noLights/index.html
  test/manual-test-examples/webgl/lights/noLights/sketch.js
  test/unit/webgl/light.js
  test/unit/webgl/p5.RendererGL.js
Labels: WIP, area:webgl

#3956 Add combineModules:min enabling minified output with uglify
  .all-contributorsrc
  Gruntfile.js
  README.md
  developer_docs/custom_p5_build.md
  tasks/build/combineModules.js
Labels: area:build
