Repository processing/p5.js, pull requests merged in 2019-05, with the labels that each got.

#3718 add extra detail to the dist summary
  src/math/calculation.js
Labels: area:documentation

#3717 wording tweaks to unit testing guide
  developer_docs/unit_testing.md
Labels: area:documentation

#3731 rewrite sentence for clarity
  src/color/setting.js
Labels: area:documentation

#3732 Provide description for WEBGL
  src/core/constants.js
Labels: area:documentation, area:webgl

#3644 setup babelify
  package-lock.json
  package.json
  tasks/build/browserify.js
Labels: area:build

#3642 Add support for tdd style in node unit tests
  Gruntfile.js
  package-lock.json
  package.json
  test/js/mocha_setup.js
  test/node/helpers.js
  test/node/test-docs-preprocessor.js
  test/test-minified.html
  test/test-reference.html
  test/test.html
Labels: testing

#3756 Add remaning unit tests for dist
  test/unit/math/calculation.js
Labels: area:math, testing

#3743 add a line of documentation about the P2D renderer
  src/core/constants.js
Labels: area:documentation

#3744 add to description Update 2d_primitives.js
  src/core/shape/2d_primitives.js
Labels: area:documentation

#3680 Tessellating custom shapes
  src/core/shape/vertex.js
  src/webgl/p5.RendererGL.Immediate.js
  test/manual-test-examples/webgl/immediateMode/customShapes/index.html
  test/manual-test-examples/webgl/immediateMode/customShapes/sketch.js
Labels: WIP, area:webgl, discussion

#3769 weblg: Render buffers
  src/webgl/p5.Geometry.js
  src/webgl/p5.RendererGL.Immediate.js
  src/webgl/p5.RendererGL.Retained.js
  src/webgl/p5.RendererGL.js
  src/webgl/p5.Shader.js
  src/webgl/text.js
  test/unit/webgl/p5.RendererGL.js
Labels: area:webgl
