Repository processing/p5.js, pull requests merged in 2019-02, with the labels that each got.

#3254 fix cone normals
  src/webgl/3d_primitives.js
Labels: area:webgl

#3495 Add doc note to avoid loop() inside setup().
  src/core/structure.js
Labels: area:documentation

#3502 switch order of image() parameters in cropping manual test
  test/manual-test-examples/p5.Image/cropping-images.js
Labels: area:image, testing

#3499 change 3rd parameter of circle to be diameter instead of radius
  src/core/shape/2d_primitives.js
Labels: area:core

#3491 fix radians/degrees conversion error in rotate
  src/webgl/p5.Camera.js
  src/webgl/p5.RendererGL.js
  test/unit/webgl/p5.Camera.js
Labels: area:webgl

#3472 Fixed renderer getting out of sync
  src/webgl/p5.RendererGL.js
  test/manual-test-examples/webgl/camera/setattributes/index.html
  test/manual-test-examples/webgl/camera/setattributes/sketch.js
  test/unit/webgl/p5.Camera.js
Labels: area:webgl

#3417 Error for not yet implemented strokeCap in WEBGL
  src/webgl/p5.RendererGL.js
Labels: area:webgl

#3469 Add YUIDoc for IMAGE constant
  src/core/constants.js
Labels: area:documentation

#3506 Optimize color to string
  src/color/p5.Color.js
Labels: area:color

#3454 Developer docs updation
  developer_docs/benchmarking_p5.md
  developer_docs/creating_libraries.md
  developer_docs/friendly_error_system.md
  developer_docs/inline_documentation.md
Labels: area:documentation

#2996 Add loadShader tests
  src/webgl/material.js
  test/unit/assets/frag.glsl
  test/unit/assets/vert.glsl
  test/unit/io/loadShader.js
  test/unit/spec.js
Labels: testing

#3531 Fix single radius on square()
  src/core/shape/2d_primitives.js
  test/unit/core/2d_primitives.js
Labels: area:core

#3519 Fix loadPixels
  src/core/p5.Renderer2D.js
Labels: area:core

#3527 implement RendererGL applyMatrix
  src/core/p5.Renderer2D.js
  src/core/transform.js
  src/webgl/p5.Matrix.js
  src/webgl/p5.RendererGL.js
  test/unit/webgl/p5.Matrix.js
Labels: area:webgl

#3544 remove use of arguments object in square()
  src/core/shape/2d_primitives.js
Labels: area:core

#3537 Global texture wrap (update of #3047)
  docs/yuidoc-p5-theme/assets/rockies128.jpg
  src/webgl/material.js
  src/webgl/p5.RendererGL.js
  src/webgl/p5.Texture.js
  test/manual-test-examples/webgl/material/textureWrap/index.html
  test/manual-test-examples/webgl/material/textureWrap/sketch.js
  test/unit/webgl/p5.Texture.js
Labels: area:webgl
