Repository processing/p5.js, pull requests merged in 2020-08, with the labels that each got.

#4654 Add describe() and describeElement()
  src/accessibility/describe.js
  src/app.js
  src/core/constants.js
  test/unit/accessibility/describe.js
  test/unit/spec.js
Labels: GSOC, accessibility, feature request

#4733 p5.js-website update workflow
  .github/workflows/update-p5jswebsite.yml
  tasks/release/release-docs.js
  tasks/release/release-p5.js
Labels: GSOC

#4676 Add access statement
  contributor_docs/README.md
  contributor_docs/access.md
Labels: area:documentation

#4703 Merge Accessibility Add-On into p5.js
  .github/ISSUE_TEMPLATE/existing-feature-enhancement.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/found-a-bug.md
  contributor_docs/README.md
  contributor_docs/project_wrapups/README.md
  contributor_docs/project_wrapups/luismn_gsoc_2020.md
  contributor_docs/sidebar.md
  contributor_docs/web_accessibility.md
  src/accessibility/color_namer.js
  src/accessibility/describe.js
  src/accessibility/gridOutput.js
  src/accessibility/outputs.js
  src/accessibility/textOutput.js
  src/app.js
  src/core/main.js
  src/core/p5.Renderer2D.js
  src/core/rendering.js
  src/core/shape/2d_primitives.js
  src/core/structure.js
  test/unit/accessibility/describe.js
  test/unit/accessibility/outputs.js
  test/unit/spec.js
Labels: GSOC, accessibility, feature request
