Repository processing/p5.js, pull requests merged in 2020-03, with the labels that each got.

#4346 Fix square() argument handling
  src/core/shape/2d_primitives.js
Labels: area:core

#4355 Remove erroneous .only() and fix tests
  src/core/error_helpers.js
  test/unit/core/error_helpers.js
  test/unit/io/files.js
  test/unit/utilities/time_date.js
Labels: testing

#4322 Vector mult div
  src/math/p5.Vector.js
  test/unit/math/p5.Vector.js
Labels: area:math, enhancement
