Repository processing/p5.js, pull requests merged in 2020-02, with the labels that each got.

#4280 Adding a first poll tweet
  tweets/first-test.tweet
Labels: announcement

#4293 fix cylinder and cone uv bug
  src/webgl/3d_primitives.js
Labels: area:webgl

#4230 Add contributor docs to summarize repository management guidelines
  contributor_docs/organization.md
  contributor_docs/sidebar.md
Labels: discussion, enhancement

#4267 Change state for blending and depth-testing in WebGL
  src/webgl/material.js
  src/webgl/p5.RendererGL.js
Labels: WIP, area:webgl

#4326 Fix issue with trying to draw non-existent strokes in WebGL immediate mode
  src/webgl/p5.RendererGL.Immediate.js
Labels: area:webgl

#4233 add internationalization tooling
  contributor_docs/internationalization.md
  src/core/init.js
  src/core/internationalization.js
  translations/es/translation.json
Labels: friendly-errors
