Repository processing/p5.js, pull requests merged in 2023-10, with the labels that each got.

#6425 Edit docs for loading & displaying images
  src/image/loading_displaying.js
Labels: Documentation, Area:Image

#6434 Update docs for p5.Image
  src/image/p5.Image.js
Labels: Documentation, Area:Image

#6355 Fix orphan canvas when sketch is removed before canvas creation
  src/core/main.js
Labels: Help Wanted

#6453 Edit docs for p5.Font
  src/typography/p5.Font.js
Labels: Documentation, Area:Typography

#6424 Edit docs for image
  src/image/image.js
Labels: Documentation, Area:Image

#6450 Edit docs for typography load and display
  src/typography/loading_displaying.js
Labels: Documentation, Area:Typography

#6216 Created fix for camera settings getting reset each time resizeCanvas() is called
  src/webgl/p5.Camera.js
  src/webgl/p5.Framebuffer.js
  src/webgl/shaders/line.vert
  test/unit/webgl/p5.Camera.js
  test/unit/webgl/p5.Framebuffer.js
Labels: Area:WebGL
