Repository processing/p5.js, pull requests merged in 2023-06, with the labels that each got.

#6206 Add a style guide for documentation. Addresses #6178
  contributor_docs/documentation_style_guide.md
Labels: Documentation, Discussion

#6218 Edit docs for 2D primitives. Resolves #6217
  src/core/shape/2d_primitives.js
  src/core/shape/attributes.js
Labels: Documentation, Area:Core

#6223 Edit color creating & reading docs. Addresses #6219
  src/color/creating_reading.js
  src/color/p5.Color.js
Labels: Documentation, Area:Color

#6232 Update doc guides to use let for declarations
  contributor_docs/documentation_style_guide.md
  contributor_docs/inline_documentation.md
Labels: Documentation

#6234 Make sure p5.Graphics size is correct before resizing framebuffers
  src/core/rendering.js
  test/unit/core/rendering.js
Labels: Area:WebGL

#6240 Update code samples for 2D primitives. Resolves #6239
  src/core/shape/2d_primitives.js
Labels: Documentation
