Repository processing/p5.js, pull requests merged in 2023-08, with the labels that each got.

#6237 Adds createFilterShader() and custom shader support to the webGL filter() function
  src/image/pixels.js
  src/webgl/material.js
  src/webgl/p5.RendererGL.js
  src/webgl/p5.Shader.js
  test/manual-test-examples/webgl/filter/index.html
  test/manual-test-examples/webgl/filter/sketch.js
  test/unit/webgl/p5.RendererGL.js
Labels: Area:WebGL

#5159 fixed-wrong-capture-size-and-freeze-issue
  src/image/loading_displaying.js
Labels: Area:Image

#5598 docs(src/utilities): Use `describe()` instead of `@alt`
  src/utilities/conversion.js
  src/utilities/string_functions.js
  src/utilities/time_date.js
Labels: Area:Accessibility

#6260 Improve Readme for future Contributors to codebase
  README.md
  contributor_docs/contributor_guidelines.md
Labels: Documentation

#6324 Add shaders for filter() constants, and use them by default in P2D
  src/image/filters.js
  src/image/pixels.js
  src/webgl/material.js
  src/webgl/p5.RendererGL.js
  src/webgl/shaders/filters/blur.frag
  src/webgl/shaders/filters/default.vert
  src/webgl/shaders/filters/dilate.frag
  src/webgl/shaders/filters/erode.frag
  src/webgl/shaders/filters/gray.frag
  src/webgl/shaders/filters/invert.frag
  src/webgl/shaders/filters/opaque.frag
  src/webgl/shaders/filters/posterize.frag
  src/webgl/shaders/filters/threshold.frag
  test/manual-test-examples/webgl/filter/index.html
  test/manual-test-examples/webgl/filter/sketch.js
  test/unit/webgl/p5.RendererGL.js
Labels: Area:WebGL
