Repository processing/p5.js, pull requests merged in 2023-11, with the labels that each got.

#6255 Image Light Feature - GSOC 2023
  docs/yuidoc-p5-theme/assets/outdoor_image.jpg
  docs/yuidoc-p5-theme/assets/outdoor_spheremap.jpg
  package-lock.json
  src/webgl/light.js
  src/webgl/p5.RendererGL.js
  src/webgl/p5.Texture.js
  src/webgl/shaders/basic.frag
  src/webgl/shaders/imageLight.vert
  src/webgl/shaders/imageLightDiffused.frag
  src/webgl/shaders/imageLightSpecular.frag
  src/webgl/shaders/immediate.vert
  src/webgl/shaders/light.vert
  src/webgl/shaders/light_texture.frag
  src/webgl/shaders/lighting.glsl
  src/webgl/shaders/line.frag
  src/webgl/shaders/line.vert
  src/webgl/shaders/normal.frag
  src/webgl/shaders/normal.vert
  src/webgl/shaders/phong.frag
  src/webgl/shaders/phong.vert
  src/webgl/shaders/point.frag
  src/webgl/shaders/point.vert
  src/webgl/shaders/vertexColor.frag
  src/webgl/shaders/vertexColor.vert
Labels: Area:WebGL

#6454 Edit docs for typography attributes
  src/typography/attributes.js
Labels: Documentation, Area:Typography

#6484 Edit docs for accessibility
  src/accessibility/describe.js
  src/accessibility/outputs.js
Labels: Documentation, Area:Core, Area:Accessibility

#6512 Edit docs for p5.Element
  src/core/p5.Element.js
Labels: Documentation, Area:DOM

#6505 Edit docs for environment
  src/core/environment.js
Labels: Documentation
