Repository processing/p5.js, pull requests merged in 2025-04, with the labels that each got.

#7595 Text to model docs
  src/type/p5.Font.js
Labels: Documentation

#7691 Updating loadModel function
  src/image/loading_displaying.js
  src/webgl/loading.js
Labels: Documentation

#7692 Updating docs for new text functions
  docs/parameterData.json
  src/shape/custom_shapes.js
  src/shape/vertex.js
  src/type/p5.Font.js
Labels: Documentation

#7694 Adding loadBlob() docs
  src/io/files.js
Labels: Documentation

#7693 Add support for woff2 via an addon
  package-lock.json
  package.json
  src/type/p5.Font.js
  src/type/unicodeRanges.js
Labels: Area:Typography

#7689 fixing-keyboard.js docs
  src/events/keyboard.js
Labels: Documentation

#7637 [dev-2.0] p5.Matrix and p5.Vector docs update
  src/math/Matrices/Matrix.js
  src/math/math.js
  src/math/p5.Matrix.js
  src/math/p5.Vector.js
Labels: Documentation, p5.js 2.0

#7593 Fix: Update sin(), cos(), and tan() docs to respect angleMode() & cl…
  src/core/shape/2d_primitives.js
  src/math/trigonometry.js
Labels: Documentation

#7666 Update phrasing in dev2 branch for trigonometric f functions
  src/math/trigonometry.js
Labels: Documentation, p5.js 2.0
